.top-section {
  display:flex;
  background-color: rgb(0,8.96);
  align-items: center;
}

.close-btn {
  background:none; 
  border: none;
  font-size: 20px;
  cursor: pointer;
  margin-bottom:100px;
}

.logo {
  max-width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top:50px;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f2f5;
}

.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 600px;
  text-align: left;
}

.login-header {
  display: flex;
  justify-content: flex-end;
}


h2 {
  margin: 0 0 20px 0;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
  margin-bottom: 40px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-btn,
.back-btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.submit-btn {
  background-color: rgb(255, 36, 87);
  color: white;
}

.register-btn {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: none;
  border-color: rgb(0, 8, 96);
  cursor: pointer;
}

.forgot-password {
  display: block;
  margin-top: 5px;
  color: #007bff;
  text-decoration: none;
  text-align: right;
  font-size:12px;
  font-weight: bold;
  text-decoration: underline;
}

.extra-links {
  display:block;
  text-align: center;
  font-size: 12px;
}
